
@font-face{

	src: url(fonts/roboto-regular.ttf);
}
.headerline{
  
  top:0px;
	line-height: 30px;
	width: 100%;
  font-family: roboto-regular, arial, sans-serif;
  font-size: 13.33px;
}
.logo{
 	margin-top: 50px;
 	height: 233px;
 	

}
.logogoogle{
 	 padding-top: 109px;
 	width: 272px;
 	height: 92px;
 	
}

.search {
  width: 32%;
  position: relative;
 
  margin-top: 1%;

}

.search input {
  border: none;
  padding: 5px 9px 0;
}

.search .input {
  
  width: 100%;
  height: 44px;
  padding: 0px 37px 0px 15px;
  background: #FFFFFF;
  font: roboto-regular, Arial, sans-serif;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  border: 1px solid #D6D6D6 ;
  opacity: 0.8;
}
.search .input:hover {
  box-shadow: -2px 6px 18px -8px rgba(0,0,0,0.4);
  opacity: 1;
}
.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(../icon/tia.png) 50% no-repeat;
  opacity: 0.8;

}
.search .submit:hover {
  opacity: 1;
}


.buttons{
	padding-top: 18px;
  width: 571px;
  height: 58px;
}
.buttoncenter{
  padding: 11px 4px 11px 4px;
}
a.button {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: rgb(117,117,117);
  text-decoration: none;
  padding: .6em 1.2em;
  margin: 1px;
  outline: none;
  border-radius: 2px;
  background: rgb(245,245,245);
  cursor:default;
}
a.button:hover {
  margin: 0;
  color: rgb(0,0,0);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7;
}
.language{
	font-family: arial,sans-serif;
	font-size: 13.3px;
	padding-top: 1%;
}
.languagebel{
	padding-left: .5em;
	padding-right: .5em;
	text-decoration: none;

}
.languagebel:hover{
	text-decoration: underline;
}
ul  {
	list-style-type: none;
	text-align: right;

}
li{
	display: inline;
    padding-left: 6px;
    padding-right: 8px;

}
.topmenu{
	text-decoration: none;
	color:#000000;
	opacity: 0.75;
}
a.topmenu:hover{
	color: #000000;
	text-decoration: underline;
	opacity: 1;
}
.topmenuright{
	display: inline;
  opacity: 0.55;
}
a.topmenuright:hover{
  color: #000000;
  text-decoration: underline;
  opacity: 1;
}
.icon{
  vertical-align: middle;
  display: inline-block;

}
.topmenubutton{
	display: inline;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 0.6em 1.2em;

  outline: none;
  border-radius: 2px;
  background: rgb(66,133,244);
  cursor:pointer;
}
footer{
  right: 0;
  left:0;
  bottom: 0;
  font-family: arial, sans-serif;
  font-size: 13.33px;
  line-height: 40px;
  min-width: 980px;
  margin: 0 0 0 0px;
  width: 100%;
  position: absolute;
  background: rgb(242,242,242);
   border-top: 1px solid rgb(228,228,228);
}
.footertop{
  padding-left: 27px;
  line-height: 40px;
  font-size: 15px;
  font-family: arial,sans-serif;
  color: rgb(102,102,102);
  border-bottom: 1px solid  rgb(228, 228, 228);
}
.footerleft{
  display: inline-block;
  float: left;
}
.footerlink{
  padding-left:27px;
  color: rgb(102,102,102);
  text-decoration: none;
}
a.footerlink:hover{
  text-decoration: underline;
}
.footerright{
  display: inline-block;
  float:right;

}
.footerlinkright{
  padding-right: 27px;
  color: rgb(102,102,102);
  text-decoration: none;
}
a.footerlinkright:hover{
  text-decoration: underline;
}